/* CSS Document */

html {
  --scrollbarBG: #000000;
  --thumbBG: #b2b2b3;
}

body::-webkit-scrollbar {
  width: 11px;
}

body {
  scrollbar-width: auto;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

body {
  margin: 0px;
  font-family: "Lato", sans-serif;
  background-color: #000;
}

.mainBarButtons ul {
  list-style-type: none;
  margin: 3px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 25px;
}

li .linksLG, li .linksSM {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  transform: translate(5%, 0%);
  text-decoration: none;
  z-index: 1;
}

li .linksLG {
  display: block;
}

li .linksSM {
  display: none;
}

li a:hover {
  background-color: #111;
  color: white;
}

.headingTextLG, .headingTextSM {
  text-align: right;
  float: right;
  color: white;
  margin: auto;
  transform: translate(0%, 50%);
  padding-top: 2px;
  padding-right: 1.5%;
  width: auto;
}

.headingTextLG {
  display: block;
}

.headingTextSM {
  display: none;
}

@media screen and (max-width: 1100px) {
  .headingTextLG {
    display: none;
  }

  .headingTextSM {
    display: block;
  }

  li .linksLG {
    display: none;
  }

  li .linksSM {
    display: block;
  }
}

@media screen and (max-width: 550px) {
  .headingTextSM {
    display: none;
  }
}

.mainBarButtons {
  text-align: center;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 3;
  transform: translate(0%, 5px);
}

#internalText {
  position: relative;
  font-family: "Merriweather", sans-serif;
  padding: 2rem;
  text-align: center;
}

#titleText {
  font-size: 48px;
}

#secondaryText {
  font-size: 32px;
  font-family: "Lato", sans-serif;
}

#thirdText {
  font-size: 18px;
  font-family: "Lato", sans-serif;
}

.coverElement {
  margin: 0px;
  border-radius: 40px;
  transform: translate(0, 63px);
}

#wonderIcon {
  float: left;
  width: 27px;
  padding: 2px;
  padding-right: 20px;
  z-index: 2;
  transform: translate(35%, 15%);
  position: relative;
  height: auto;
}

.primary, .secondary ,button {
  text-align: center;
  font-size: 24px;
  color: white;
}

.secondary ul, .secondary li {
  text-align: left;
  list-style-type: none;
}

button.annotation {
  background-color: rgb(124, 124, 124);
  border: 0;
  padding: 0;
}

button.annotation:hover {
  background-color: #ed1c24;
  cursor: pointer;
  color: black;
}

#index, #p2, #p2-1, #p2-2, #p3 {
  transform: translate(0, 70px);
  background-size: cover;
  z-index: 5;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 4vw;
  flex: 1;
  border-radius: 40px;
}

#p2 {
  background-image: url(images/p2bg.jpg);
  width: 40%;
  margin: 5px;
  padding: 2vw;
  z-index: inherit;
}

#p2-1 {
  background-image: url(images/p2bg.jpg);
  float: right;
  padding: 2vw;
  height: 30%;
  z-index: 2;
}

#p2-2 {
  background-image: url(images/p2bg.jpg);
  float: right;
  padding: 2vw;
  height: 30%;
  z-index: 3;
}

.grid {
  display: grid;
  float: right;
  justify-items: stretch;
  align-items: stretch;
}

.container {
  display: grid;
  grid-template-columns: [\31 ] 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: stretch;
  grid-template-areas:
    "leftsection ."
    "leftsection ."
    "leftsection .";
}

.leftsection { grid-area: leftsection; }

.container {
  display: flex;
}

.item {
  flex-basis: 100px;
  height: 100px;
  margin: 5px;
}

#p2-1 #blur, #p2-2 #blur {
  padding: 2em;
}

#p2 #blur {
  padding: 3em;
}

#index {
  background-image: url(images/indexbg.jpg);
}

#p3 {
  background-image: url(images/p3bg.jpg);
}

#blur {
  background: rgba(0, 0, 0, 0.2); 
  backdrop-filter: blur(6px);
  padding: 6em;
  border-radius: 65px;
}

.contentLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1;
  height: 100%;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-block;
  z-index: 1;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  z-index: 1;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(180deg); }
  50% { transform: rotate(180deg); }
  75% { transform: rotate(360deg); }
  100% { transform: rotate(360deg); }
}

@keyframes loader-inner {
  0% { height: 0%; }
  25% { height: 0%; }
  50% { height: 100%; }
  75% { height: 100%; }
  100% { height: 0%; }
}

#fader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  pointer-events: none;
  background: #242f3f;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

@keyframes fade-out {
  from { opacity: 1 }
    to { opacity: 0 }
}

@keyframes fade-in {
  from { opacity: 0 }
    to { opacity: 1 }
}

#fader.fade-out {
  opacity: 0;
  animation-name: fade-out;
}

#fader.fade-in {
  opacity: 1;
  animation-name: fade-in;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0, 0, 0, 0.6);
}

.amodcont {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 35px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#annotationModal {
  opacity: 1;
  display: none;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes moveDown {
  0% { transform: translate(0, -15%); }
  100% { transform: translate(0 , 0);} 
}

@keyframes backgroundOpacity {
  0% { background-color: rgba(0, 0, 0, 0.0); }
  100% { background-color: rgba(0, 0, 0, 0.6);; } 
}

@keyframes generate {
  0% {
      transform: translate(0px, 150px);
      opacity: 0;
  }
  100% {
      transform: translate(0px, 70px);
      opacity: 1;
  }
}